body {
    font-size: 1em;
    margin: 0px;
}

.gameForm {
    width: 85%;
    margin: 0 auto;
    font-size: 2em;
    word-spacing: 5px;
}

.chooseGender {
    background-image: url(../images/transparent.jpg);
    color: #fff;
    text-align: center;
    height: 150px;
    width: 800px;
    padding-top: 22px;
    margin: 0 auto;
    margin-top: 28px;
}

nav {
    border: 10px double #605e5e;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

.logo {
    margin-left: 65%;
}

.logo img,
.smileyFace img {
    height: 90px;
}

.tableContent {
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
}

.passage {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    line-height: 1.8em;
}

.name {
    text-transform: capitalize;
}

td {
    border: 5px solid #605e5e;
    border-radius: 50%;
    height: 145px;
    width: 145px;
    text-align: center;
}

.submit {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 1.7em;
    background-color: #605e5e;
    color: #fff;
}

td input {
    font-weight: 725;
    color: #b13109;
    font-weight: 725;
    height: 20px;
    font-size: 1em;
    text-align: center;
    width: 90%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span {
    color: #d34749;
}
