.gameForm {
    width: 85%;
    margin: 0 auto;
    font-size: 2em;
    word-spacing: 5px;
}

.chooseGender {
    background-image: url(../images/transparent.jpg);
    color: #fff;
    text-align: center;
    height: 300px;
    width: 800px;
    padding-top: 100px;
    margin: 0 auto;
    margin-top: 28px;
}

nav {
    display: inline-flex;
}

.smileyFace {
    margin-right: 33.33%;
}

.logo {
    margin-left: 33.33%;
    padding-top: 30px;
}

.gender {
    padding-right: 400px;
    padding-left: 30px;
}

.tableContent {
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
}

td {
    border: 5px solid antiquewhite;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    text-align: center;
}

.submit {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 1.7em;
    background-color: antiquewhite;
    font-weight: 800;
}

input {
    color: aqua;
    font-weight: 725;
    color: #b13109;
    font-weight: 725;
    height: 20px;
    font-size: 1em;
    text-align: center;
}
