<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>madLibs</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<nav>
    <div class="smileyFace">
        <img src="images/madLibSmileyFace.png" alt=" Smiley Face" />
    </div>
    <div class="logo">
        <img src="images/madLibLogo.png" alt="" />
    </div>
</nav>

<body ng-app="">
    <div class="chooseGender">
        <h1>Choose Gender!</h1>
        <input class="gender" type="radio" name="gender" id="male" value="male">Male
        <input class="gender" type="radio" name="gender" id="female" value="female">Female
    </div>
    <div class="tableContent">
        <h1>Provide the following words:</h1>
        <!--    or create a form with submit button once clicked all input will be filled and added to the passage below-->

        <table class="wordsTable">
            <tr>
                <td>Male Name
                    <input type="text" ng-model="maleName" />
                    <!--                    <h4>{{maleName}}</h4>-->

                </td>

                <td>Job Tile
                    <input type="text" ng-model="jobTitle">
                </td>
                <td>Tedious Task
                    <input type="text" ng-model="tediousTask">
                </td>
            </tr>
            <tr>
                <td>Dirty Task
                    <input type="text" ng-model="dirtyTask">
                </td>
                <td>Celebrity
                    <input type="text" ng-model="celebrity">
                </td>
                <td>Useless skill
                    <input type="text" ng-model="uselessSkill">
                </td>
            </tr>
            <tr>
                <td>Obnoxious celebrity
                    <input type="text" obnoxiousCelebrity>
                </td>
                <td>Huge Number
                    <input type="text" ng-model="hugeNumber">
                </td>
                <td>Adjective
                    <input type="text" ng-model="adjective">
                </td>
            </tr>
        </table>
        <button class="submit" type="submit">Submit</button>

    </div>
    <hr>
    <p class="gameForm">
        <p>{{maleName}} was a {{jobTitle}} who loved technology. Although she loved parts of her job, she absolutely hated {{tediousTask}} and {{dirtyTask}}. So, {{maleName}} met with her life mentor {{celebrity}} who told her to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so she studied programming instead. </p>
        <p>What a great decision! With her new skills, {{maleName}} built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} times faster. </p>

    </p>
    <!--    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!--    <script src="js/script.js"></script>-->
</body>

</html>
