<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>madLibs</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<nav>
    <ul>
        <li class="smileyFace">
            <img src="images/madLibSmileyFace.png" alt=" Smiley Face" />
        </li>
        <li class="logo">
            <img src="images/madLibLogo.png" alt="" />
        </li>
    </ul>
</nav>

<body ng-app="">
    <div class="chooseGender">
        <h1>Choose Gender!</h1>
        <input class="gender" type="radio" name="gender" id="male" value="male">Male
        <input class="gender" type="radio" name="gender" id="female" value="female">Female
    </div>
    <div class="tableContent">
        <h1>Provide the following words:</h1>
        <!--    or create a form with submit button once clicked all input will be filled and added to the passage below-->

        <table class="wordsTable">
            <tr>
                <td>Name
                    <input type="text" ng-model="maleName" autofocus />
                    <!--                    <h4>{{maleName}}</h4>-->

                </td>

                <td>Job Tile
                    <input type="text" ng-model="jobTitle">
                </td>
                <td>Tedious Task
                    <input type="text" ng-model="tediousTask">
                </td>
            </tr>
            <tr>
                <td>Dirty Task
                    <input type="text" ng-model="dirtyTask">
                </td>
                <td>Celebrity
                    <input type="text" ng-model="celebrity">
                </td>
                <td>Useless skill
                    <input type="text" ng-model="uselessSkill">
                </td>
            </tr>
            <tr>
                <td>Obnoxious celebrity
                    <input type="text" ng-model="obnoxiousCelebrity">
                </td>
                <td>Huge Number
                    <input type="number" ng-model="hugeNumber">
                </td>
                <td>Adjective
                    <input type="text" ng-model="adjective">
                </td>
            </tr>
        </table>
        <button class="submit" type="submit">Submit</button>

    </div>
    <hr>
    <p class="gameForm">
        <p class="passage"><span>{{maleName}}</span> was a <span>{{jobTitle}}</span> who loved technology. Although she loved parts of her job, she absolutely hated <span>{{tediousTask}}</span> and <span>{{dirtyTask}}</span>. So, {{maleName}} met with her life mentor <span>{{celebrity}}</span> who told her to learn how to <span>{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span>{{uselessSkill}}</span> so she studied programming instead. </p>
        <p class="passage">What a great decision! With her new skills, <span>{{maleName}}</span> built a(n) <span>{{adjective}}</span> robot named <span>{{obnoxiousCelebrity}}</span> that not only loved <span>{{dirtyTask}}</span> but did it <span>{{hugeNumber}}</span> times faster. </p>

    </p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</body>

</html>
